*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

nav{
    height: 10%;
    background-color: #FEFEDC;
}

header{
    height: 20%;
    background-color: #FEDCFE;
}

main{
    height: 60%;
}

#secundario{
    height: 100%;
    width: 20%;
    float: left;
}

#principal{
    background-color: #DCFEFE;
    width: 80%;
    height: 100%;
    float: left;
}


#aside-1{
    background-color: #FEDCDC;
    width: 100%;
    height: calc(100% / 3);
}

#aside-2{
    background-color:#DCFEDC ;
    width: 100%;
    height: calc(100% / 3);
}

#aside-3{
    background-color: #DCDCFE;
    width: 100%;
    height: calc(100% / 3);
    float: left;
}

footer{
    height: 10%;
    background-color: #DCDCDC;
}

.fix{
    clear: both;
}